.content {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5em;
    padding-right: 5em;
}

header {
    padding-top: 2em;
}

h1, h2, h3 {
    line-height: 1.2;
}

body {
    font-family: "Montserrat", serif;
    line-height: 1.5;
    color: #333;
    background-color: #fbfbfd;
}

.process_col {
    display: flex;
    flex-direction: column;
}

.process {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.member_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.members {
    display: flex;
    flex-direction: column;
}

.container {
    width: 300px;
    height: 500px;
    overflow: hidden;
}
.member img {
    width: 300px;
    height: auto;
    overflow: hidden;
}